body{
    font-family: verdana;
    text-align: center;
}

.baner,
.stopka{
    background-color: rgb(205, 92, 92);
    color: white;
    padding: 5px;
    text-align: center;
    clear: both;
}

.prawy,
.lewy{
    background-color: rgb(250, 235, 215);
    
    width: 25%;
    height: 500px;
    float: left;
}

.srodkowy{
    background-color: rgb(250, 235, 215);
    width: 50%;
    height: 500px;
    float: left;
    
    


}
.dane{
    background-color: rgb(210, 180, 140);
    color:white;
    width: 100%;
    height: 100px;

    

}

h2{
    text-align: center;
}

