* {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#baner-lewy, #baner-prawy {
    color: white;
    background-color: #6F79A8;
    height: 140px;
    display: inline-block;
    vertical-align: top;
    margin-right: -10px;
    text-align: center;
}
#baner-lewy {
    width: 30%;
}
#baner-prawy {
    width: 70%;
}
#main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.kalendarz {
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6F79A8;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.kalendarz p {
    position: absolute;
    bottom: 3px;
    left: 3px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.kalendarz:hover {
    background-color:  #6F79A8;
    color: white;
}

#footer {
    color: white;
    background-color: #6F79A8;
    padding: 5px;
    text-align: right;
}
.kalendarz h6 {
    text-align: center;
}